<!-- main-header -->
<div class="main-header sticky side-header nav nav-item sticky-pin" style="margin-bottom: -90px;margin-bottom: -90px; border-bottom: 5px solid #bf0909; box-shadow: 10px 0px 5px #bf0909;">
    <div class="container">
      <div class="main-header-left">
        <h4 class="content-title">
          <a href="https://www.congreso.gob.pe"><img src="assets/images/logo-congreso.png" class="logo" alt="logo"></a> Proyectos de Ley
        </h4>
      </div>
    </div>
</div>
<div class="jumps-prevent" style="padding-top: 70px;"></div>
<!-- /main-header -->

<!-- main-content -->
  <!-- container -->
  <div class="container mg-t-20">
    <!--router-outlet></router-outlet-->
  </div>

<!-- Footer opened -->
<div class="main-footer ht-40">
  <div class="container pd-t-0-f ht-100p">
    <span>Copyright © 2021 - Área de Proyectos</span>
  </div>
</div>
<!-- Footer closed -->
